server:
  port: ${PORT:8003}

spring:
  application:
    name: dashboard-bff

integration:
  api:
    fatura-recuperada:
      base-url: ${API_FATURAS_URL:http://localhost:8081/v1/fatura-recuperada}
      requestTimeout: 5000    # ms
      connectionTimeout: 5000    # ms
      circuit-breaker:
        failure-rate-threshold: 60
        slow-call-duration-threshold: 2000
        permitted-calls-in-half-open-state: 5
    
security:
  enabled: ${SECURITY_ENABLE:false}
  secret:
    vault:
      endpoint: ${VAULT_ENDPOINT:http://localhost:8200}
      role-id: ${VAULT_ROLE_ID}
      secret-id: ${VAULT_SECRET_ID}
  scopes: ${APP_SCOPES:invoice}

cache:
  redis:
    config:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      database: ${REDIS_DATABASE:0}
      password: ${REDIS_PASSWORD:599E72B4E2ED1023E6EE0842668117E704F5A912B09369F1AD300147E2CA895C}

springdoc:
  swagger-ui:
    path=: /swagger-ui.html
